{
  "openapi": "3.0.3",
  "info": {
    "title": "Lemma.id Developer Auth Contract v1",
    "version": "1.0.0",
    "description": "Canonical auth flow: lemma -> exchange-proof -> bearer token -> controlled action"
  },
  "servers": [
    {
      "url": "https://lemma.id"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "error"
        ]
      },
      "ExchangeProofRequest": {
        "type": "object",
        "properties": {
          "credential": {
            "type": "object",
            "description": "Lemma credential object"
          },
          "site_id": {
            "type": "string"
          },
          "requested_scope": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "ttl_seconds": {
            "type": "integer",
            "minimum": 300,
            "maximum": 3600
          }
        },
        "required": [
          "credential"
        ]
      },
      "ExchangeProofResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "access_token": {
            "type": "string",
            "description": "Server-issued access token (prefix lm_at_)"
          },
          "expires_in": {
            "type": "integer"
          },
          "site_id": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "scope": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "permission_id": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "token_type",
          "access_token",
          "expires_in",
          "site_id",
          "scope"
        ]
      },
      "IntrospectRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "site_id": {
            "type": "string"
          }
        },
        "required": [
          "token"
        ]
      },
      "IntrospectResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "introspection": {
            "type": "object",
            "properties": {
              "active": {
                "type": "boolean"
              },
              "error": {
                "type": "string"
              },
              "jti": {
                "type": "string"
              },
              "subject": {
                "type": "string"
              },
              "site_id": {
                "type": "string"
              },
              "permission_id": {
                "type": "string"
              },
              "scope": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "active"
            ]
          }
        },
        "required": [
          "success",
          "introspection"
        ]
      },
      "RevokeRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "jti": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "RevokeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "revoked": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "revoked"
        ]
      }
    }
  },
  "paths": {
    "/api/auth/exchange-proof": {
      "post": {
        "summary": "Exchange lemma for access token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExchangeProofRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeProofResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid lemma",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Scope/site mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/introspect": {
      "post": {
        "summary": "Introspect access token",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntrospectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Introspection result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntrospectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "API key required/invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/revoke": {
      "post": {
        "summary": "Revoke access token",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revocation success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "API key required/invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}

