openapi: 3.1.0
info:
  title: Lemma Shield API
  version: 1.0.0
  description: |
    Clean, market-ready API for human verification using the Lemma Shield system.
    
    ## Overview
    The Lemma Shield API provides two main services:
    - **Shield (Issuer)**: KYC verification and credential issuance
    - **Check (Verifier)**: Credential verification with challenge-response
    
    ## Authentication
    All customer-facing endpoints require a JWT-signed API key passed as a Bearer token:
    ```
    Authorization: Bearer <your-api-key>
    ```
    
    ## Rate Limiting
    API endpoints are rate-limited to prevent abuse. Limits vary by endpoint.
    
    ## Error Handling
    All errors follow a consistent format with machine-readable codes and human-readable messages.
    
  contact:
    name: Lemma Shield API Support
    url: https://lemma.network/support
    email: support@lemma.network
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://lemma.id/api/v1
    description: Production server
  - url: http://localhost:5000/api/v1
    description: Development server

paths:
  # Shield (Issuer) Endpoints
  /kyc/start:
    post:
      summary: Start KYC Verification
      description: Initiate KYC verification process with Stripe Identity
      operationId: startKyc
      tags:
        - Shield (Issuer)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KycStartRequest'
            example:
              user_id: "user_12345"
              callback_url: "https://customer-site.com/kyc-callback"
      responses:
        '200':
          description: KYC session created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KycStartResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /vc/issue:
    post:
      summary: Issue Verifiable Credential
      description: Issue a W3C Verifiable Credential after successful KYC
      operationId: issueCredential
      tags:
        - Shield (Issuer)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueCredentialRequest'
      responses:
        '200':
          description: Credential issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCredentialResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/script.js:
    get:
      summary: Get Wallet Script
      description: Lightweight JavaScript loader for client-side credential management
      operationId: getWalletScript
      tags:
        - Shield (Issuer)
      responses:
        '200':
          description: JavaScript wallet script
          content:
            application/javascript:
              schema:
                type: string
          headers:
            Cache-Control:
              description: Caching policy for the script
              schema:
                type: string
                example: "public, max-age=3600"

  # Check (Verifier) Endpoints
  /challenge:
    get:
      summary: Generate Challenge
      description: Generate a cryptographic challenge (nonce) for verification
      operationId: generateChallenge
      tags:
        - Check (Verifier)
      responses:
        '200':
          description: Challenge generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /verify:
    post:
      summary: Verify Presentation
      description: Verify a Verifiable Presentation with challenge
      operationId: verifyPresentation
      tags:
        - Check (Verifier)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
      responses:
        '200':
          description: Verification completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # Revocation Endpoints
  /revocation/filter/{issuerId}:
    get:
      summary: Get Revocation Filter
      description: Get signed Bloom filter for revocation checking
      operationId: getRevocationFilter
      tags:
        - Revocation
      parameters:
        - name: issuerId
          in: path
          required: true
          description: DID of the credential issuer
          schema:
            type: string
            example: "did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGpbnnEGta2doK"
      responses:
        '200':
          description: Revocation filter retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevocationFilterResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /revocation/webhook:
    post:
      summary: Register Revocation Webhook
      description: Register customer callback URL for revocation notifications
      operationId: registerRevocationWebhook
      tags:
        - Revocation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '200':
          description: Webhook registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # Usage/Billing Endpoint
  /usage/event:
    post:
      summary: Log Usage Event
      description: Log usage event for billing with salted DID and timestamp
      operationId: logUsageEvent
      tags:
        - Usage/Billing
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageEventRequest'
      responses:
        '200':
          description: Usage event logged successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageEventResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # Meta Endpoints
  /healthz:
    get:
      summary: Health Check
      description: Check service health and status
      operationId: healthCheck
      tags:
        - Meta
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnhealthyResponse'

  /version:
    get:
      summary: Get Version
      description: Get service version and build information
      operationId: getVersion
      tags:
        - Meta
      responses:
        '200':
          description: Version information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT-signed API key for customer authentication

  schemas:
    # Request Schemas
    KycStartRequest:
      type: object
      required:
        - user_id
      properties:
        user_id:
          type: string
          description: Unique identifier for the user
          minLength: 1
          maxLength: 255
          pattern: '^[a-zA-Z0-9_-]+$'
          example: "user_12345"
        callback_url:
          type: string
          format: uri
          description: URL to redirect user after KYC completion
          example: "https://customer-site.com/kyc-callback"

    IssueCredentialRequest:
      type: object
      required:
        - user_id
        - session_id
      properties:
        user_id:
          type: string
          description: Unique identifier for the user
          example: "user_12345"
        session_id:
          type: string
          description: KYC session ID from /kyc/start
          example: "vs_1234567890abcdef1234567890abcdef"

    VerifyRequest:
      type: object
      required:
        - presentation
        - challenge
      properties:
        presentation:
          type: object
          description: W3C Verifiable Presentation
        challenge:
          type: string
          description: Challenge obtained from /challenge endpoint
          pattern: '^[a-f0-9]{64}$'
          example: "1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"

    WebhookRequest:
      type: object
      required:
        - callback_url
      properties:
        callback_url:
          type: string
          format: uri
          description: Customer callback URL for webhook notifications
          example: "https://customer-site.com/webhooks/revocation"
        events:
          type: array
          items:
            type: string
          default: ["credential.revoked"]
          description: List of events to subscribe to
          example: ["credential.revoked", "credential.suspended"]

    UsageEventRequest:
      type: object
      required:
        - salted_did
      properties:
        salted_did:
          type: string
          description: SHA-256 hash of salted DID for privacy
          pattern: '^[a-f0-9]{64}$'
          example: "a1b2c3d4e5f6789012345678901234567890abcdef1234567890abcdef123456"
        timestamp:
          type: integer
          description: Unix timestamp of the event
          example: 1704067200

    # Response Schemas
    KycStartResponse:
      type: object
      properties:
        session_id:
          type: string
          description: KYC session identifier
          example: "vs_1234567890abcdef1234567890abcdef"
        verification_url:
          type: string
          format: uri
          description: URL for user to complete KYC verification
          example: "https://lemma-instance.com/verify?session_id=vs_1234567890abcdef1234567890abcdef"
        expires_at:
          type: integer
          description: Unix timestamp when session expires
          example: 1704070800

    IssueCredentialResponse:
      type: object
      properties:
        credential:
          type: object
          description: W3C Verifiable Credential
        issued_at:
          type: integer
          description: Unix timestamp when credential was issued
          example: 1704067200
        expires_at:
          type: integer
          description: Unix timestamp when credential expires
          example: 1735689600

    ChallengeResponse:
      type: object
      properties:
        challenge:
          type: string
          description: Cryptographic challenge for verification
          example: "1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
        expires_at:
          type: integer
          description: Unix timestamp when challenge expires
          example: 1704067500

    VerifyResponse:
      type: object
      properties:
        verified:
          type: boolean
          description: Whether the presentation was successfully verified
          example: true
        timestamp:
          type: integer
          description: Unix timestamp of verification
          example: 1704067200

    RevocationFilterResponse:
      type: object
      properties:
        issuer_id:
          type: string
          description: DID of the credential issuer
          example: "did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGpbnnEGta2doK"
        filter:
          type: string
          description: Base64-encoded Bloom filter data
          example: "mock_bloom_filter_data"
        signature:
          type: string
          description: Digital signature of the filter
          example: "mock_signature"
        timestamp:
          type: integer
          description: Unix timestamp when filter was created
          example: 1704067200
        expires_at:
          type: integer
          description: Unix timestamp when filter expires
          example: 1704153600

    WebhookResponse:
      type: object
      properties:
        webhook_id:
          type: string
          description: Unique identifier for the webhook
          example: "wh_1234567890abcdef"
        callback_url:
          type: string
          format: uri
          description: Registered callback URL
          example: "https://customer-site.com/webhooks/revocation"
        events:
          type: array
          items:
            type: string
          description: Subscribed events
          example: ["credential.revoked"]
        status:
          type: string
          enum: [active, inactive]
          description: Webhook status
          example: "active"

    UsageEventResponse:
      type: object
      properties:
        logged:
          type: boolean
          description: Whether the event was successfully logged
          example: true
        timestamp:
          type: integer
          description: Unix timestamp of the logged event
          example: 1704067200

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded]
          description: Overall service health status
          example: "healthy"
        timestamp:
          type: integer
          description: Unix timestamp of health check
          example: 1704067200
        version:
          type: string
          description: Service version
          example: "1.0.0"

    UnhealthyResponse:
      type: object
      properties:
        status:
          type: string
          enum: [unhealthy]
          description: Service health status
          example: "unhealthy"
        error:
          type: string
          description: Error description
          example: "Database connection failed"
        timestamp:
          type: integer
          description: Unix timestamp of health check
          example: 1704067200

    VersionResponse:
      type: object
      properties:
        version:
          type: string
          description: Semantic version number
          example: "1.0.0"
        git_sha:
          type: string
          description: Git commit SHA
          example: "abc123def456"
        api_version:
          type: string
          description: API version
          example: "v1"
        service:
          type: string
          description: Service name
          example: "lemma-shield"

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - INVALID_REQUEST
                - UNAUTHORIZED
                - FORBIDDEN
                - NOT_FOUND
                - RATE_LIMITED
                - INTERNAL_ERROR
                - SERVICE_UNAVAILABLE
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: string
              description: Additional error details (optional)
          required:
            - code
            - message

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "INVALID_REQUEST"
              message: "user_id is required"

    Unauthorized:
      description: Authentication required or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "UNAUTHORIZED"
              message: "API key required"

    Forbidden:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "FORBIDDEN"
              message: "KYC verification incomplete"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "NOT_FOUND"
              message: "No revocation data for issuer"

    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "RATE_LIMITED"
              message: "Too many requests"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "INTERNAL_ERROR"
              message: "Failed to process request"

tags:
  - name: Shield (Issuer)
    description: KYC verification and credential issuance endpoints
  - name: Check (Verifier)
    description: Credential verification endpoints
  - name: Revocation
    description: Credential revocation management
  - name: Usage/Billing
    description: Usage tracking for billing purposes
  - name: Meta
    description: Service metadata and health endpoints 